body {
    color: white;
    background-image: url(https://yume.wiki/images/1/1b/%E7%B4%AB%E8%83%8C%E6%99%AF.png);
    margin: 0px;
    font-family: "Handjet", sans-serif;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    border-bottom: solid 10px #E7C3E7;
    padding: 20px;
    font-size: 35px;
    color: #E7C3E7;
    padding-bottom: 10px;
    background-color: #420031;
}

.chamada {
    background: #6b305e;
    padding-bottom: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: #E7C3E7 solid 5px;
    border-bottom: #E7C3E7 solid 5px;
}

.chamada-texto {
    margin-right: 3%;
    margin: 20px;
}

.chamada-texto p {
    font-size: 25px;
}

.chamada-video {
    margin: 20px;
    border: #E7C3E7 solid;
    padding: 10px;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

img {
    height: 250px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

header img {
    height: 30px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1;
    border: #E7C3E7 solid 1px;
}

.categoria h2 {
    color: #E7C3E7;
}

.categoria div {
    border: #E7C3E7 solid 5px;
    padding: 20px;
    background-color: #420031;
}

audio {
    padding-top: 20px;
    padding-left: 480px;

}

.sectionfotos h1 {
    padding-left: 40px;
    font-size: 35px;
    color: #E7C3E7;
}

.sectionfotos div {
    background-color: #420031;
    border: #E7C3E7 5px solid;
    margin: 40px;
    padding: 20px;
    margin-bottom: 50px;
}

.sectionfotos img {
    border: #E7C3E7 solid;
    margin: 10px;
}

.sectionondejogar {
    background-color: #6b305e;
    border-bottom: #E7C3E7 solid 5px;
    border-top: #E7C3E7 solid 5px;
    display: flex;
}

.sectionondejogar p {
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

.sectionondejogar h1 {
    color: white;
    font-size: 35px;
    margin-left: 20px;
}

.sectionondejogar h2 {
    color: white;
    font-size: 25px;
    margin-left: 20px;
}

.sectionondejogar p {
    color: white;
    opacity: 0.5;
}

.sectionondejogar p:hover {
    color: dodgerblue;
    text-decoration: underline;
    opacity: 1;
}

.sectionondejogar img {
    height: 250px;
    align-self: flex-end;
    margin-top: 50px;
    margin-left: 175;
    margin-bottom: 50px;
    padding: 10px;
    border: #E7C3E7 solid 3px;
}

.maismidias div {
    background-color: #420031;
    border-top: #E7C3E7 solid 5px;
    border-bottom: #E7C3E7 solid 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px;
}

.maismidias h2 {
    font-size: 35px;
    color: white;
}

.maismidias p {
    font-size: 25px;
    color: white;

}

.maismidias h3 {
    font-size: 25px;
    color: white;
    opacity: 0.5;
}

.maismidias h3:hover {
    color: dodgerblue;
    text-decoration: underline;
    opacity: 1;
}

.maismidias img {
    border: #E7C3E7 solid 3px;
    padding: 10px;
    margin: 20px;
}

.maismidias h1 {
    padding-left: 20px;
    color: #E7C3E7;
    font-size: 35px;
}